.form {
  background-color: #009bdb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 600px;
  color: #575757;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #85def2;
}

.form h1 {
  color: #ffffff;
}

.form input {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
}
.form input:focus {
  outline-color: #009bdb;
}

.form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 10px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
}

.form legend {
  color: #ffffff;
}

.form textarea {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.form textarea:focus {
  outline-color: #009bdb;
}

.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120%;
  padding: 12px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}
.form button:hover {
  opacity: 0.8;
  transition: 0.5s;
}
